node_modules
test
*.sw[op]
*.crt
*.key
*.csr
logs
*.log
pids
*.pid
*.seed

# guard against adding keys to the repo...
ssl/server.*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
