
//- XXX also include the appropriate CSS...


//-
	Usage:
		JSONTable([<css-class>,][ <col-names>, [<attributes>,]] <data>)

		JSONTable(<data>)
		JSONTable(<col-names>, <data>)
		JSONTable(<col-names>, <attributes>, <data>)
		JSONTable(<css-class>, <data>)
		JSONTable(<css-class>, <col-names>, <data>)
		JSONTable(<css-class>, <col-names>, <attributes>, <data>)

mixin JSONTable(a, b, c, d)
	//- normalize args...
	//- no cls, shift args...
	- if(typeof(a) != typeof('str'))
		- d = c
		- c = b
		- b = a
		- a = ''

	//- format the rest of the args...
	- if(c == null)
		- var obj = b
		- var cols = null
		- var attrs = null
	- else if(d == null)
		- var obj = c
		- var cols = b
		- var attrs = null
	- else
		- var obj = d
		- var cols = b
		- var attrs = c

	//- now for the actual html...
	table(class=cls, border=1, cellspacing=0)
		//- build header column if cols is passed...
		if cols
			thead
				tr
					each col in cols
						th= col

		//- build table body...
		tbody
			each elem in obj
				tr
					//- if attrs are suplied use them to order the values...
					if attrs
						each attr in attrs
							td= elem[attr]
					else
						each val in elem
							td= val



//- vim:set ts=4 sw=4 :
