include lib

extends layout

block content
	h1= title

	//- selector...
	div
		form.selectForm(action='/select', method='get')

			div
				+fields(fields, query)


			//- ecode selector...
			div
				//- XXX


			div
				input(type='submit' value='update')

				//- XXX need a way to clear the from...
				input(type='button' value='clear')




	//- car table...
	div
		h2 Cars
		+JSONTable({
				Manufacturer: 'manufacturer', 
				Series: 'series', 
				Model: 'model', 
				'Model ID': 'modelID', 
				'Body Number': 'bodyNumber', 
				Type: 'type', 
				'Body Type': 'bodyType', 
				Doors: 'doors', 
				Region: 'region', 
				Actions: function(elem){ 
					return '<a href="#">select</a>' 
				},
			}, cars)


	//- ecode table...
	if ecodes.length > 0
		div
			h2 Euro Codes
			+JSONTable({
					'Euro Code': '_id',
					Actions: function(elem){ 
						return '<span/>' 
					},
				}, ecodes)





//- vim:set ts=4 sw=4 :
