include lib

extends layout

block content
	h1= title

	//- query fields + their datalists...
	//-
		form
			+fields({
					test: ['a', 'b', 'c', 'd'], 
					'Test field | test2': [1, 2, 3],
					'Test field | Value | test2': [1, 2, 3],
					'| Value without label | test2': [1, 2, 3],
				})
	form(action='/select', method='get')
		+fields(fields)

		input(type='submit' value='update')
		//- XXX need a way to clear the form...

	//- car table...
	//- +JSONTable({}, data.cars)

	//- ecode table...
	//- +JSONTable({}, data.ecodes)




//- vim:set ts=4 sw=4 :
