include lib

extends layout

block content

	script.
		$(function(){
			$('.selectForm .fields :input').on('input', function(){
				var data = $('datalist#'+this.name+' option')
					.map(function(_, e){ return e.value })
					.toArray()

				if(data.indexOf(this.value) >= 0){
					$(this).parents('.selectForm').first().submit()
				}
			})

			$('.selectForm')
				// XXX for some magical reason this does not work if the
				//		handler is set after .submit(..)
				.on('clear', function(){
					console.log('!!!')
					$(this).find('.fields :input').val('')
				})
				.submit(function(){
					$(this).find('.fields :input').each(function(){
						this.disabled = !($(this).val())
					})
			})
		})

	h1= title

	//- selector...
	div
		form.selectForm(action='/select', method='get')

			div.fields
				h3 Select car
				+fields(fields, query)


			//- ecode selector...
			div.fields
				h3 Select glass
				//- XXX


			div
				button update

				button(onclick="$(this).parents('.selectForm').trigger('clear')") clear




	//- car table...
	div
		h2 Cars
		+JSONTable({
				Manufacturer: 'manufacturer', 
				Series: 'series', 
				Model: 'model', 
				'Model ID': 'modelID', 
				'Body Number': 'bodyNumber', 
				Type: 'type', 
				'Body Type': 'bodyType', 
				Doors: 'doors', 
				Region: 'region', 
				Actions: function(elem){ 
					return '<a href="#">select</a>' 
				},
				'__ECODES__': 'ecodes', 
			}, cars)


	//- ecode table...
	if ecodes && ecodes.length > 0
		div
			h2 Euro Codes
			+JSONTable({
					'Euro Code': '_id',
					Actions: function(elem){ 
						return '<span/>' 
					},
				}, ecodes)





//- vim:set ts=4 sw=4 :
