extends layout

block content
	h1= title
	form(action='/user', method='post')
		table
			tr
				th User
				td= user.username
			tr
				th Password
				td
					input(type='hidden' name='username' value=user.username)
					input(type='password' name='password')
					input(type='password-confirm' name='password')


//- vim:set ts=4 sw=4 :
